@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: arial;
}
body {
  background-color: black;
}
nav {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
  /* border: 2px solid green; */
  /* box-shadow: 0 0 10px rgba(195, 190, 190, 0.2); */
}
.not-active {
  text-decoration: none;
  border: 1px solid transparent;
  padding: 10px;
  margin-top: -10px;
}

.active {
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  margin-top: -10px;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(248, 249, 250, 0.2);
}

/* Home page styling  */

.home {
  /* background-image: url('https://img.freepik.com/free-vector/black-geometric-memphis-social-banner_53876-116843.jpg'); */
  background-size: cover;
  /* border: 2px solid green; */
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
}

/* .info{

    border: 2px solid red;
} */

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.info {
  margin-top: -30px;
  text-align: center;
  animation: fadeInFromBottom 1.5s ease-out forwards;
}

.info h1 {
  font-size: 90px;
  margin-bottom: 10px;
  font-weight: normal;
}
span {
  font-size: 30px;
  margin-left: 15px;
  border-left: 5px solid aqua;
  border-right: 5px solid aqua;
  border-radius: 5px;
}

/* About page styling  */
.about {
  /* border: 2px solid red; */
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* padding: 10px; */
}
.details p {
  font-size: 15px;
  font-weight: 100;
  color: rgb(168, 168, 168);
  margin-top: 10px;
}
/* .details h3{
    text-align: center;
} */

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
}
.details {
  /* background-color: rgb(24, 24, 24); */
  height: 250px;
  width: 350px;
  /* border: 2px solid white; */
  border-radius: 10px;
  padding: 15px;
  margin-top: -10px;
  line-height: 18px;
}
.details p {
  animation: fadeInFromLeft 3s ease-in-out 1;
}
@keyframes fadeOutToFadeIn {
  0% {
    opacity: 0; /* Fully visible */
  }

  100% {
    opacity: 1; /* Fully visible again */
  }
}

.image {
  animation: fadeOutToFadeIn 3s ease-in-out 1;
  animation-fill-mode: forwards; /* Retain the final state */
}

/* skills page styling starts here */

.skill{
    /* border: 2px solid red; */
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.img{
    height: 60px;
    border-radius: 100px;
    animation: fadeInFromBottom 1.5s ease-out forwards;
}
.card{
  /* border: 0.2px solid grey; */
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  transition: 1s;
  margin: 10px;
  animation: float 3s ease-in-out infinite;
  
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


.card:nth-child(1) {
    animation-delay: 0s;
}

.card:nth-child(2) {
    animation-delay: 0.5s;
}

.card:nth-child(3) {
    animation-delay: 1s;
}

.card:nth-child(4) {
    animation-delay: 1.5s;
}

.card:hover{
    box-shadow: 0 0 20px 1px aqua;
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
    
}

.card p{
    font-size: 10px;
    line-height: 13px;
    color: rgb(107, 103, 103);
   
}
 
.skill h4{
    align-self: start;
    font-size: 20px;
    margin-top: 30px;
}



/* projects page style here  */

.project{
  height: 90vh;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.project-card{
  /* border: 2px solid green; */
  height: 239px;
  width: 250px;
  background-color: rgb(95, 113, 113);
  border-radius: 8px;
  margin: 10px;

  transition: 1s;
 
  border: 0.5px solid white;
}





.project-card:hover{
  box-shadow: 0 0 30px 10px rgb(2, 89, 182);
  border: 1px solid aqua;
  cursor: pointer;
  
  
}
.project-image{
  height: 160px;
  width: 250px;
  /* margin-bottom: 0; */
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.project-name{
  /* border: 2px solid green; */
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.output-shown{
  height: 50vh;
  /* border: 2px solid green; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  animation: fadeInFromBottom 3s ease-out forwards;

}



/* services pages styleing is here  */

.services{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.service-card{
  background-color: #817d7d;
  border: 1px solid transparent;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  border-radius: 10px;
  margin: 10px;
}

.service-card:hover{
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
 
}

.service-content{
  /* border: 2px solid red; */
  height: 50vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* contact page styling  */
.contact{
 
  height: 90vh;
  width: 90vw;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
}
.final-card{
  /* border: 2px solid green; */
  height: 60vh;
  width: 80%;
  margin: 10%;
  margin-top: 3%;
  margin-left: 5%;
}
.contact-image{
  height: 60px;
  width: 60px;
  border-radius: 100px;
  /* border: 2px solid red; */
}

.logos{
  /* border: 2px solid tomato; */
  height: 60vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
}